<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    <h2>[일일 가계부]</h2>
    <a sec:authorize="isAnonymous()" th:href="@{/join}">회원가입</a>
    <a sec:authorize="isAnonymous()"th:href="@{/login}">로그인</a>
    
    <h3 sec:authorize="isAuthenticated()">[[${#authentication.name}]]님 환영합니다.</h3>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/myCashbook/main}">가계부</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/statics}">연도별 통계</a>

</body>
</html>